body { 
  font-family: 'MattB', sans-serif;
  background: #ff6b51;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
   overflow-x: hidden; 
   box-sizing: border-box;
  }
  
  header { 
    position: fixed; 
    top: 0; 
    left: 0; 
    background-color: #ff6b51; 
    width: 100%; 
    padding: 5px 32px; 
    box-sizing: border-box; 
    z-index: 10; 
  } 
  
  .header-content { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-wrap: wrap; 
    flex-direction: column; 
  } /* Logo */ 
  
  .header-content .logo img { 
    max-height: 80px;
    width: auto;
    display: block; 
  } 
  
  .header-nav a { 
    text-decoration: none; 
    color: #ffffff; 
    margin: 0; 
    font-weight: 400; 
    transition: 0.3s; 
    font-size: 24px; 
    white-space: nowrap; 
  } 
  
  .header-nav { 
    color: #DCE1F0; 
    margin-top: -10px;
    padding-bottom: 10px; 
    display: flex; 
    flex-wrap: nowrap; 
    justify-content: space-around; 
    width: 100%; 
  } 
  
  .header-nav a:hover { 
    color: #d2d2d2;
  }
  
  .hero-section { 
    display: flex; 
    flex-wrap: nowrap; 
    justify-content: space-between; 
    align-items: center; 
    margin-top: 140px; 
    padding: 0 20px 80px; 
    width: 100%; 
    max-width: 1300px; 
    min-height: 80vh;
  } 
  
  .hero-text { 
    flex: 1 1 45%; 
    color: #fff; 
    max-width: 520px;
    display: flex; 
    margin-right: 20px; 
    flex-direction: column; 
    justify-content: center; 
    word-wrap: normal; 
    overflow-wrap: normal; 
  } 
  
  .hero-text h1 { 
    font-family: Sedgwick Ave Display, cursive; 
    font-weight: normal; 
    font-size: 2.2rem; 
    margin-bottom: 0; 
    padding-left: auto; 
  } 
  
  .hero-text p { 
    font-size: 24px; 
    line-height: 1.3; 
    max-width: 620px; 
    padding-left: auto; 
  }
  
  .hero-carousel { 
    position: relative; 
    flex: 1 1 50%; 
    max-width: 650px;
    width: 100%;
    overflow: hidden; 
    border-radius: 10px; 
    margin-top: 20px;
    margin-bottom: 20px; 
  } 
  
  .carousel-slide { 
    display: flex; 
    transition: transform 0.5s ease-in-out; 
  } 
  
  .carousel-slide img { 
    width: 100%; 
    flex-shrink: 0; 
    object-fit: cover; 
    user-select: none; 
    pointer-events: none; 
  }
  
  .prev, .next { 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    border: none; 
    background: none; 
    padding: 10px; 
    cursor: pointer; 
    border-radius: 50%; 
    z-index: 5; 
  } 
  
  .prev { 
    left: 10px; 
  } 
  
  .next { 
    right: 10px; 
  } 
  
  .arrow { 
    border: solid #ffffff; 
    border-width: 0 6px 6px 0; 
    display: inline-block; 
    padding: 8px; 
  } 
  
  .left { 
      transform: rotate(135deg); 
    } 
    
    .right { 
      transform: rotate(-45deg); 
    }
    
    .honorable-section { 
      background-color: #2C5170;
      width: 100%; 
      padding: 40px 20px; 
      box-sizing: border-box; 
      color: #ffffff; 
    } 
    
    .honorable-container {
      text-align: center; 
    } .honorable-container h2 { 
      font-family: Sedgwick Ave Display, cursive; 
      font-weight: normal; 
      font-size: 2.5rem; 
      margin-bottom: 40px; 
    } 
    
    .honorable-content { 
      display: flex; 
      align-items: flex-start; 
      justify-content: space-between; 
      gap: 5px;
    } 
    
    .honorable-text { 
      flex: 0.7;
      text-align: left; 
      word-wrap: break-word;
      overflow-wrap: break-word; 
    } 
    
    .honorable-text h3 { 
      font-size: 1.8rem; 
      margin-bottom: 10px; 
      text-align: center; 
    } 
    
    .honorable-text p { 
      font-size: 1.2rem; 
      line-height: 1.2; 
      word-wrap: break-word; 
      overflow-wrap: break-word; 
      padding-left: 20px; 
      flex: 1; 
      text-align: left;
    } 
    
    .honorable-photo { 
      flex: 1.3;
    } 
    
    .honorable-photo img { 
      width: 60%;
      height: auto; 
      border-radius: 10px; 
    } 
    
    .photo-address { 
      margin-top: 10px; 
      font-size: 1rem; 
      text-align: center;
      color: #ffffff; 
    }
    
    .artists-section { 
      background-color: #F2B424;
      width: 100%; 
      padding: 40px 20px; 
      box-sizing: border-box; 
      color: #ffffff;
    } 
    
    .artists-container { 
      text-align: center; 
      padding-top: 30px; 
    } 
    
    .artists-container h2 { 
      font-size: 2.5rem; 
      margin-bottom: 40px; 
      font-family: Sedgwick Ave Display, cursive; 
      font-weight: normal; 
    } 
    
    .artists-boxes { 
      display: flex; 
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px; 
      margin-top: 20px;
    } 
    
    .artist-box { 
      width: 100%;
      max-width: 350px; 
      text-align: center;
      flex: 1 1 300px;
    } 
    
    .artist-box img { 
      width: 100%; 
      height: 300px;
      object-fit: cover;
      border-radius: 10px; 
      margin-bottom: 10px; 
    } 
    
    .artist-box p { 
      font-size: 1.5rem; 
      margin: 0;
      line-height: 1.2;
      padding-top: 30px;
      font-weight: 500;
    } 

  .artist-image-overlay {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.artist-image-overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  display: block;
}

.artist-image-overlay:hover img {
  transform: scale(1.05);
}

.artist-image-overlay .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
  text-align: center;
  padding: 0 10px;
}
.artist-image-overlay:hover .overlay {
  opacity: 1;
}
    
    footer { 
      background-color: #F2B424; 
      color: #ffffff; 
      padding: 20px;
      text-align: center; 
    }

    @media (max-width: 768px) { 
      .hero-section { 
        flex-direction: column; 
        margin-top: 100px;
        padding: 0 10px 80px; 
      } 

      .hero-text {
        flex: 1 1 100%;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
      }
      .hero-carousel { 
        max-width: 100%; 
        margin-top: 20px; 
        margin-right: 0;
        flex: 1 1 100%; 
      } 
      .honorable-content { 
        flex-direction: column; 
      } }