body {
  font-family: 'MattB', sans-serif;
  margin: 0;
  background: #1A3F5F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  max-width: 100vw;
}

/* Header */
 header {
      position: fixed;
      top: 0;
      left: 0;


      background-color: #1A3F5F;
      
      width: 100%;
      padding: 5px 32px;
      box-sizing: border-box;
      z-index: 10;
      
    }

    .header-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column;
    }

    .header-content .logo img {
      max-height: 80px;
      width: auto;
    }

    .header-nav a {
        text-decoration: none;
      color: #ffffff;
      margin: 0;
      font-weight: 400;
      transition: 0.3s;
      font-size: 24px;
      white-space: nowrap;
    }

    .header-nav a.map-link {
  position: relative;
  display: inline-block;
  color: #ffffff;
}

.header-nav a.map-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 4px;
  background-color: #ff6b51;
  border-radius: 2px;
}

    .header-nav {
      color: #DCE1F0;
      margin-top: -10px;
      padding-bottom: 10px;
      display: flex;
      flex-wrap: nowrap;
        justify-content: space-around;
        width: 100%;
    }

    .header-nav a:hover {
      color: #d2d2d2;
    }

    main {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.map-section {
  text-align: center;
  width: 90%;
  max-width: 1200px;
  margin: -20px auto;
  padding-bottom: 20px;
}

.map-section h2 {
  font-size: 2.5rem;
  letter-spacing: 1.5px;
  font-weight: normal;
  font-family: 'Sedgwick Ave Display', cursive;
  margin-bottom: 25px;
  color: #ffffff;
}


.map-photo img {
  display: block;
  width: 100%;
  height: auto;
}
.map-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  aspect-ratio: 4/3;
}

.map-photo {
  width: 100%;
  border-radius: 10px;
  position: absolute;
  inset: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  object-fit: contain;
}

.map-pin {
  position: absolute;
  transform: translate(-50%, -100%);
}

.map-pin img {
  width: 50px;
  height: 50px;
  transition: opacity 0.2s;
}

.map-pin:hover img {
  opacity: 0.6;
}

.pin-preview {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  background: none;
  border-radius: 8px;
  padding: 12px;

  opacity: 0;
  pointer-events: none;
  transition: none;
}

.pin-preview img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 8px;
}


.pin-preview button {
  width: 100%;
  font-family: 'MattB', cursive;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 6px;
  background-color: #255D83;
  color: #ffffff;
  cursor: pointer;
}

.pin-preview button:hover {
  background-color: #1A3F5F;
}

.map-pin.active .pin-preview {
    opacity: 1;
    pointer-events: auto;
}

.pin-1 { top: 78%; left: 55%; }
.pin-2 { top: 58%; left: 30%; }
.pin-3 { top: 48%; left: 70%; }

footer {
  background-color: #1A3F5F;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

@media (max-width: 1024px) {
  .pin-preview {
    width: 150px;
    height: 10px;
  }

  .pin-preview button {
    padding: 8px;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .pin-preview {
    width: 120px;
    height: 8px;
  }

  .pin-preview img {
    height: auto;
  }

  .pin-preview button {
    padding: 6px;
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .pin-preview {
    width: 90px;
    padding: 6px;
  
  }
  .pin-preview button {
    font-size: 0.7rem;
  }
}
